<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cat Shelter</title>

    <link src="./public/styles/site.css" type="text/css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/png"
      src="/public/images/pawprint.ico"
    />
  </head>

  <body>
    <header>
      {{{body}}}

    </header>
  </body>
</html>